input[type='range'] {
  -webkit-appearance: none;
  height: 7px;
  border-radius: 5px;
  background: grey linear-gradient(#b6d1df, #9bbdcc, #273e4e) no-repeat;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-label {
  margin-bottom: 10px;
  white-space: pre-line;
}
